<div class="col-lg-4 mb-5 mb-lg-0">
  <div class="bg-white shadow rounded-lg p-4 sticky-top" style="top: 30px;">
    <h4 class="has-line-end">Other sectors</h4>
    <nav id="TableOfContents">
      <ul>

        <li><a href="automative.html">Automative</a>
        </li>
        <li><a href="banking.html">Banking/Finance</a>
        </li>
        <li><a href="cement.html">Cement/Constructions</a>
        </li>
        <li><a href="chemicals.html">Chemicals</a>
        </li>
        <li><a href="conglomerates.html">Conglomerates</a>
        </li>
        <li><a href="cons.html">Cons Durable</a>
        </li>
        <li><a href="banking.html">Banking/Finance</a>
        </li>
        <li><a href="engineering.html">Engineering</a>
        </li>
        <li><a href="food.html">Food & Beverage</a>
        </li>
        <li><a href="gold-etf.html">Gold ETF</a>
        </li>
        <li><a href="technology.html">Technology</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
